{% extends 'home.html'%}
{% block content %}

<style>
 #gmt{
  font-size: 100px;
  font-weight: bold;
 }
 #oy{
  font-size: 20px;
  font-weight: bold;
 }
</style>

<div class="carousel-item"></div>
  <!-- <img src="la.jpg" alt="Los Angeles"> -->
  <div >
    <video width="100%" controls autoplay muted  >
      <source src="https://www.shutterstock.com/shutterstock/videos/1087793299/preview/stock-footage-bangkok-thailand-feb-close-up-rolex-gmt-master-ii-batman-mm-with-blue-black-bezel.webm" type="video/mp4"> 
    </video>
  </div>
 <div id="tex">
  <div class="carousel-caption">
    <!-- <h3 id="oy">OYSTAR PERPETUSL</h3> -->
    <p id="gmt">GMT - MASTER II</p>
  </div>
</div>
</div><br><br>
<!-- ------------------------------------------------------------------------------------ -->

  
  <div class="container text-center">    
    <h3>What We Do</h3>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <img src="https://c4.wallpaperflare.com/wallpaper/826/708/876/watch-rolex-golden-hour-wallpaper-preview.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Current Project</p>
      </div>
      <div class="col-sm-3"> 
        <img src="https://c1.wallpaperflare.com/preview/613/1020/887/clock-wrist-watch-time-golden-background.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Project 2</p>    
      </div>
      <div class="col-sm-3">
        <div class="well">
         <p>Some text..</p>
        </div>
        <div class="well">
         <p>Some text..</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
         <p>Some text..</p>
        </div>
        <div class="well">
         <p>Some text..</p>
        </div>
      </div>  
    </div>
    <hr>
  </div>
  
  <div class="container text-center">    
    <h3>Our Partners</h3>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <img src="https://c4.wallpaperflare.com/wallpaper/826/708/876/watch-rolex-golden-hour-wallpaper-preview.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 1</p>
      </div>
      <div class="col-sm-2"> 
        <img src="https://c0.wallpaperflare.com/preview/630/129/167/analogue-chrome-dial-focus.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 2</p>    
      </div>
      <div class="col-sm-2"> 
        <img src="https://c1.wallpaperflare.com/preview/883/207/727/rolex-datejust-rolex-datejust-watch-watches-luxury-watch.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 3</p>
      </div>
      <div class="col-sm-2"> 
        <img src="https://c0.wallpaperflare.com/preview/224/114/408/rolex-datejust-rolex-datejust-watch.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 4</p>
      </div> 
      <div class="col-sm-2"> 
        <img src="https://c4.wallpaperflare.com/wallpaper/262/871/681/clock-rolex-time-watch-wallpaper-preview.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 5</p>
      </div>     
      <div class="col-sm-2"> 
        <img src="https://c4.wallpaperflare.com/wallpaper/525/195/616/clock-rolex-time-watch-wallpaper-preview.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 6</p>
      </div> 
    </div>
  </div><br><br>
  <!-- ---------------------------------- -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
    
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <video width="100%" controls autoplay muted  >
                <source src="https://www.shutterstock.com/shutterstock/videos/1042112026/preview/stock-footage-antwerp-belgium-close-up-footage-of-a-rolex-watch.webm" type="video/mp4"> 
              </video>
              <div class="carousel-caption">
                <h3>Sell $</h3>
                <p>Money Money.</p>
              </div>      
            </div>
          </div>
    
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Any dastage for new aspirations. Since its creation in 1945, the Datejust has continued to reinvent itself while symbolizing Rolex’s definition of classic elegance. A milestone in watchmaking history, it was the first self-winding waterproof chronometer wristwatch to feature </p>
        </div>
        <div class="well">
           <p>a window displaying the date. Magnified by the Cyclops lens, these numbers are a reminder that though 24 hours mark a day, it’s on us to make those a date to remember.</p>
        </div>
        <div class="well">
           <p>y can leave a lasting mark on our lives and set the </p>
        </div>
      </div>
    </div>
    <hr>
    </div><br><br>
  <!---------------------------------------------------------------------------------->
  <div class="container-fluid bg-3 text-center">    
    <h3>Some of my Work</h3><br>
    <div class="row">
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src=" https://c0.wallpaperflare.com/preview/417/57/242/wristwatch-clock-white-key.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <p>Some text..</p>
        <img src=" https://c1.wallpaperflare.com/preview/159/1018/469/rolex-datejust-rolex-datejust-watch-watches-luxury-watch.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <p>Some text..</p>
        <img src="https://c4.wallpaperflare.com/wallpaper/1019/185/199/clock-rolex-time-watch-wallpaper-preview.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://c0.wallpaperflare.com/preview/224/114/408/rolex-datejust-rolex-datejust-watch.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>
  
  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src=" https://c1.wallpaperflare.com/preview/790/46/432/panerai-luminor-marina-militare-luxurious-yachts.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <p>Some text..</p>
        <img src="https://c1.wallpaperflare.com/preview/622/528/26/rolex-watch-time-luxury.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <p>Some text..</p>
        <img src=" https://c1.wallpaperflare.com/preview/883/207/727/rolex-datejust-rolex-datejust-watch-watches-luxury-watch.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://c4.wallpaperflare.com/wallpaper/262/871/681/clock-rolex-time-watch-wallpaper-preview.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br><br>
{% endblock  %}