{% extends 'home.html'%}
{% block content %}

<style>
 #gmt{
  font-size: 100px;
  font-weight: bold;
 }
 #oy{
  font-size: 20px;
  font-weight: bold;
 }
</style>

<div class="carousel-item"></div>
  <!-- <img src="la.jpg" alt="Los Angeles"> -->
  <div >
    <video width="100%" controls autoplay muted  >
      <source src="https://www.shutterstock.com/shutterstock/videos/1087793299/preview/stock-footage-bangkok-thailand-feb-close-up-rolex-gmt-master-ii-batman-mm-with-blue-black-bezel.webm" type="video/mp4"> 
    </video>
  </div>
 <div id="tex">
  <div class="carousel-caption">
    <h3 id="oy">OYSTAR PERPETUSL</h3>
    <p id="gmt">GMT - MASTER II</p>
  </div>
</div>
</div>
{% endblock  %}